In [124]:
## part 2
## 1.pyspark DataFrame
## 2.Reading the Dataset
## 3.Checking the datatypes of the column(schema)
## 4.Selecting columns and indexing
## 5.check describe option similar to pandas
## 6.Adding columns
## 7.Dropping columns
## 8. Rename the columns

In [110]:
import pyspark

In [111]:
from pyspark.sql import SparkSession

In [112]:
spark = SparkSession.builder.appName('DataFrame').getOrCreate()

In [113]:
spark

In [92]:
df_spark = spark.read.option('header','true').csv('test1.csv')

In [93]:
## check the schema
df_spark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- Experience: string (nullable = true)
 |-- Salary: string (nullable = true)

In [94]:
df_spark = spark.read.option('header','true').csv('test1.csv', inferSchema=True)

In [95]:
## check the schema
df_spark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [96]:
## Another method
pyspark_df = spark.read.csv('test1.csv', header=True, inferSchema=True)
pyspark_df.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [97]:
pyspark_df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [98]:
type(pyspark_df)

pyspark.sql.dataframe.DataFrame

In [99]:
pyspark_df.columns

['Name', 'age', 'Experience', 'Salary']

In [100]:
pyspark_df.head(3)

[Row(Name='Krish', age=31, Experience=10, Salary=30000),
 Row(Name='Sudhanshu', age=30, Experience=8, Salary=25000),
 Row(Name='Sunny', age=29, Experience=4, Salary=20000)]

In [101]:
## select the column
pyspark_df.select('Name')

DataFrame[Name: string]

In [102]:
type(pyspark_df.select('Name'))

pyspark.sql.dataframe.DataFrame

In [103]:
pyspark_df.select('Name').show()

+---------+
|     Name|
+---------+
|    Krish|
|Sudhanshu|
|    Sunny|
|     Paul|
|   Harsha|
|  Shubham|
+---------+

In [104]:
## select the multiple column
pyspark_df.select(['Name', 'age'])

DataFrame[Name: string, age: int]

In [105]:
type(pyspark_df.select(['Name', 'age']))

pyspark.sql.dataframe.DataFrame

In [106]:
pyspark_df.select(['Name', 'age']).show()

+---------+---+
|     Name|age|
+---------+---+
|    Krish| 31|
|Sudhanshu| 30|
|    Sunny| 29|
|     Paul| 24|
|   Harsha| 21|
|  Shubham| 23|
+---------+---+

In [107]:
pyspark_df.dtypes

[('Name', 'string'), ('age', 'int'), ('Experience', 'int'), ('Salary', 'int')]

In [108]:
pyspark_df.describe().show()

+-------+------+------------------+-----------------+------------------+
|summary|  Name|               age|       Experience|            Salary|
+-------+------+------------------+-----------------+------------------+
|  count|     6|                 6|                6|                 6|
|   mean|  NULL|26.333333333333332|4.666666666666667|21333.333333333332|
| stddev|  NULL| 4.179314138308661|3.559026084010437| 5354.126134736337|
|    min|Harsha|                21|                1|             15000|
|    max| Sunny|                31|               10|             30000|
+-------+------+------------------+-----------------+------------------+

In [114]:
## Adding the column
pyspark_df=pyspark_df.withColumn('experience after 2 years',pyspark_df['Experience']+2)

In [115]:
pyspark_df

DataFrame[Name: string, age: int, Experience: int, Salary: int, experience after 2 years: int]

In [116]:
pyspark_df.show()

+---------+---+----------+------+------------------------+
|     Name|age|Experience|Salary|experience after 2 years|
+---------+---+----------+------+------------------------+
|    Krish| 31|        10| 30000|                      12|
|Sudhanshu| 30|         8| 25000|                      10|
|    Sunny| 29|         4| 20000|                       6|
|     Paul| 24|         3| 20000|                       5|
|   Harsha| 21|         1| 15000|                       3|
|  Shubham| 23|         2| 18000|                       4|
+---------+---+----------+------+------------------------+

In [121]:
pyspark_df=pyspark_df.drop('experience after 2 years')

In [122]:
pyspark_df.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [123]:
## Rename the colummns
pyspark_df.withColumnRenamed('Name', 'New name').show()

+---------+---+----------+------+
| New name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+