## pyspark GroupBy And Aggregate Functions

In [1]:
import pyspark

In [2]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName('Agg').getOrCreate()

In [6]:
pyspark_df = spark.read.csv('test3.csv', header=True, inferSchema=True)

In [7]:
pyspark_df.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

In [10]:
pyspark_df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- salary: integer (nullable = true)

In [11]:
## GroupBy
## grouped to find the maximum salary
pyspark_df.groupby('Name').sum().show()

+---------+-----------+
|     Name|sum(salary)|
+---------+-----------+
|Sudhanshu|      35000|
|    Sunny|      12000|
|    Krish|      19000|
|   Mahesh|       7000|
+---------+-----------+

In [12]:
## GroupBy Departments which have the maximum salary
pyspark_df.groupby('Departments').sum().show()

+------------+-----------+
| Departments|sum(salary)|
+------------+-----------+
|         IOT|      15000|
|    Big Data|      15000|
|Data Science|      43000|
+------------+-----------+

In [13]:
pyspark_df.groupby('Departments').mean().show()

+------------+-----------+
| Departments|avg(salary)|
+------------+-----------+
|         IOT|     7500.0|
|    Big Data|     3750.0|
|Data Science|    10750.0|
+------------+-----------+

In [14]:
pyspark_df.groupby('Departments').count().show()

+------------+-----+
| Departments|count|
+------------+-----+
|         IOT|    2|
|    Big Data|    4|
|Data Science|    4|
+------------+-----+

In [17]:
## aggregation
pyspark_df.agg({'salary':'sum'}).show()

+-----------+
|sum(salary)|
+-----------+
|      73000|
+-----------+